.register-form__image-upload-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.register-form_image-preview-container {
    margin-bottom: 10px;
    min-height: 10px;
}

.image-preview {
    max-width: 300px;
    max-height: 200px;
    border: 1px solid #ddd;
}

.register-form__file-input-wrapper {
    display: flex;
    align-items: center;
}

.register-form__file-select-button {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.register-form__file-selected-name {
    margin-left: 10px;
}
